
<div>

  <h3>{{name}}</h3>
    <img src="{{image}}" alt="{{name}}"/>
     <p class="data">{{description}}</p>
    <a href="{{link}}">{{link}}</a>

</div>
<a href="/{{id}}/edit"><button>Edit Recipe</button></a>

<a href="/{{id}}/comments"><button>View Comments</button></a>
{{!-- <a href="/random" class="randomize-recipe"><button>Another Recipe</button></a> --}}